#grid-container {
    height: calc(100vh - 100px);
    width: 100%;
    display: grid;
}
#grid-container div {
    display: flex;
}

#grid-container div div{
    flex: 1 1 0;
    margin: 1px;
}

button {
  background-color: #fff; /* Green */
  color: #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}
